:root {
    --morado:  #6E1B73;
    --verde:  #80BA27;
    --naranja:#E07312;
}

html {
    font-size: 62.5%;
}

.desktop {
    display:none
}

ul li {
    list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}
header {
    width: 100%;
}

h1 {
    font-size: 3.6rem;
    padding: 0 0 10px 0;
    border-bottom: 3px solid var(--verde);
    width: 90%;
    margin: 0 auto;
    font-family: 'robotolight', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 3rem;
    font-family: 'robotoitalic', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom:30px;
}

h3 {
    font-family: 'robotomedium', Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.5rem;
    font-family: 'robotoitalic', Arial, Helvetica, sans-serif;
    color: var(--verde);
}

main p, main a, main li {
    padding-bottom:15px;
}

.container {
    margin: 0px auto;
}

.topnav img { padding-top:7px}

header nav {
    width: 100%;
    box-shadow: rgb(34, 34, 34) 0px 4px 6px -6px;
    height: 11rem;
    z-index: 99;
    position: fixed;
    top: 0px;
    background: rgb(255, 255, 255);
}

nav.topnav a.logo {
    width: fit-content;
    margin-left: 15px;
    height: 110px;
    padding: 0px;
}

nav.topnav a {
    color: #80BA27;
    font-family: 'robotomedium',Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

nav.topnav #myLinks a:hover, nav.topnav #myLinks a:active, nav.topnav #myLinks a:focus {
    color: white;
    opacity: 0.8;
    background: var(--verde);
}


nav.topnav #myLinks {
    display: none;
    z-index: 999;
    box-shadow: rgb(34, 34, 34) 0px 4px 6px -6px;
    background: rgb(255, 255, 255);
}

.topnav a.icon {
    color: white;
    background-color: var(--verde);
    display: block;
    position: absolute;
    right: 15px;
    top: 30%;
}

.headerImg {
    width: 100%;
    position: relative;
    top: 11rem;
}
.headerImg img {
    width: 100%;
}

.nivo-prevNav {
    left:15px!important;
    color: var(--verde);
    font-size :30px;
}

.nivo-nextNav {
    right:15px!important;
    color: var(--verde);
    font-size :30px;
}

main {
    max-width: 85%;
    min-height: 500px;
    display: block;
    margin: 16rem auto 30px;
}

.whyStampa {
    margin:40px 0;
}

/*.gallerySlider {
    height: 200px;
}*/

.order {
    display: flex;
    flex-direction: column;
}

.orderItem {
    text-align: center;
    margin-bottom: 30px;
}

.orderItem i {
    font-size: 3rem;
    color:  var(--morado);
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
    border:1px solid var(--verde);
    border-radius: 50%;
}

.presupuesto {
    text-align: center;
    width: 190px;
    box-shadow: rgb(34, 34, 34) 1px 4px 12px -6px;
    margin: 50px auto 60px;
    padding: 20px 15px;
    border-radius: 5px;
    background: white;
}

.presupuesto:hover {
    color: white;
    background: var(--morado);
}

.needHelp {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.helpitem {
    margin-bottom: 30px;
}


/* Acerca de */
.videoAbout {
    text-align: center;
    margin: 30px auto;
}


/* Servicios */
.services {
    text-align: center;
}
.service h4 {
    text-align: center;
    margin-bottom:15px;
}
.service p {
    font-size:1.2rem;
}

.service img {
    border:2px solid transparent;
    border-radius: 6px;
}
.service img:hover, .service img:focus, .service img:active {
    opacity:0.8;
    border:2px solid var(--naranja);
}

/* Productos */

.productItem {
    text-align: center;
    margin: 0 0 30px 0;
}
.productItem img {
    width: 250px;
    margin: 0 auto 10px;
    display: block;
    padding:0;
    border-radius: 6px;
    border:2px solid transparent;
}
.productItem img:hover, .productItem img:focus, .productItem img:active {
    opacity:0.8;
    border:2px solid var(--naranja);
}

/* Contacto */
.contactInfo {
    margin-bottom: 30px;
}



footer {
    height: 11rem;
    display: flex;
    justify-content: space-between;
    background: var(--morado);
}

footer > img { display:none }

footer .contactWrapper {
    width: 100%;
    margin:15px;
}

footer nav {
    display: none;
}

footer .contactInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:0;
}

footer .socialMediaIcons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
footer .socialMediaIcons i.fa-facebook-square {
    color: rgb(59, 89, 152);
    font-size: 3rem;
    background: white;
}

footer p {
    font-size: 1.2rem;
    font-family: 'robotolight',Arial, Helvetica, sans-serif;
    color: white;
}

footer .copyright {
    text-align: right;
}

@media (min-width:768px) {
    .desktop {
        display:block;
    }
    .mobile {
        display:none;
    }


    h1 {
        width: 50%;
    }
    header nav, nav.topnav #myLinks {
        display: flex;
    }

    header nav {
        position: relative;
        justify-content: space-around;
    }

    .topnav a.icon {
        display: none;
    }

    nav.topnav a {
        padding: 7px 15px 10px;
    }

    nav.topnav #myLinks li::after {
        content: "|";
        color: var(--morado);
        margin: 7px 0px;
    }

    nav.topnav #myLinks li:last-child::after {
        content: "";
    }

    nav.topnav #myLinks {
        box-shadow: none;
        height: 40px;
        margin-top: 15px;
    }

    nav.topnav #myLinks li {
        display: flex;
    }

    .headerImg {
        top: unset;
    }

    main {
        margin: 30px auto;
    }

    .order {
        flex-direction: row;
        margin-top: 30px;
    }

    .needHelp {
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
    }

    .helpitem {
        margin: 0px 30px;
    }

    /* Services */
    .services {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex:1;        
    }

    .service {
        width:33%;
        margin-bottom: 30px;
    }

    .service img {
        box-shadow:rgb(34, 34, 34) 5px 5px 7px -6px;
        margin-bottom: 15px;
    }


    /* Productos */
    .productContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .productItem img {
        max-height: 170px;
    }

    /* Contacto */
    .contactanos {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .contactanos .map {
        width:60%
    }

    .contactanos .map iframe {
        width:100%;
    }

    footer > img { display:block }

    footer .contactWrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    footer nav {
        display: block;
        height: 40px;
    }

    footer nav ul {
        display: flex;
        margin-top: 15px;
    }

    footer nav ul li {
        list-style: none;
        margin: 0px 10px;
    }

    footer nav ul li a {
        color: white;
        font-family: 'robotolight', Arial, Helvetica, sans-serif;
        font-size: 1.6rem;
        text-decoration: none;
    }

    footer nav ul li a:hover, footer nav ul li a:focus {
        border-bottom: 3px solid var(--verde);
    }

    footer .contactInfo {
        flex-direction: row;
        padding-top: 15px;
        margin:0;
    }
    
    
}